$unit: 1rem !default;

.card {
  
  box-sizing: border-box;
  padding: $unit * 2;
  margin-top: $unit * 0.75;
  background-color: #fff;
  border: 1px solid #f4f4f4;

  .pager {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 1rem 0 1.5rem 0;

    .active {
        text-decoration: none;
        color: #3f51b5;
    }

    .leftRightArrowButton{
      display: none;
    }
  }
}
