
.card {
  
  box-sizing: border-box;
  padding: 2rem;
  margin-top: 0.75rem;
  background-color: #fff;
  border: 1px solid #f4f4f4;

  .pager {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 1rem 0 1.5rem 0;

    .active {
        text-decoration: none;
        color: #3f51b5;
    }

    .leftRightArrowButton{
      display: none;
    }
  }

  .accordion {
    
    .chord {

      border: 1px solid #f4f4f4;

      .label {
        border: none;
      }

      &.active {
        .label {
          border-bottom: 1px solid #f4f4f4;
        }    
      }

      .content {
        margin-left: 10;
        margin-right: 10;
      }
    }
    
  }

  .accordion-body1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    > * {
      flex: 1;
    }
  }

  .accordion-body2 {
    padding: 1rem;
    padding-top: 0;
  }
}
