@import "./config";

.accordion {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;

  &.disableAnimation {
    .chord {
      .content {
        transition: none !important;
      }
    }
  }

  .chord {
    position: relative;
    width: 100%;
    display: block;

    &.hidden {
      display: none !important;
    }

    &.disabled {
      opacity: $chord-label-disabled-opacity;
      .label {
        cursor: default;
      }
    }

    .content {
      position: relative;
      height: 0;
      box-sizing: border-box;
      overflow: hidden;
      opacity: 0;
      transition: height $animation-duration ease-in-out, opacity $animation-duration linear;
    }

    &.active {
      margin-bottom: 2 * $chord-content-padding;

      .content {
        opacity: 1;
        height: auto;
        transition: height $animation-duration ease-in-out, opacity $animation-duration linear;
      }

      .label {
        color: $chord-pointer-color;
        margin-bottom: $chord-content-padding;
      }    
    }

    .label {
      display: block;
      width: 100%;
      font-size: $chord-text-height;
      font-weight: $font-weight-semi-bold;
      padding-top: $chord-label-v-padding;
      padding-bottom: $chord-label-v-padding;
      margin-bottom: 0;
      color: $chord-text-color;
      text-transform: uppercase;
      transition-timing-function: $animation-curve-default;
      transition-duration: $animation-duration;
      transition-property: box-shadow, color;
      cursor: pointer;

      .text {
        position: relative;
        display: inline-block;
        height: $chord-icon-height;
        line-height: $chord-icon-height;
        vertical-align: top;
        margin-right: $chord-content-padding;
      }

      .icon,
      .postIcon {
        position: relative;
        display: inline-block;
        height: $chord-icon-height;
        width: $chord-icon-height;
        line-height: $chord-icon-height;
      }

      &.withIcon {
      }

      &.withPostButton {
      }

      &.withText {
        .icon {
          margin-right: $chord-content-padding;
        }
      }

      .postIcon {
      }
    }
  }
}
