@import "./config.css";

.accordion {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;

  &.disabledAnimation {
    & .chord {
      & > .content {
        transition: none !important;
      }

      & > .label {
        transition: none !important;
      }
    }
  }

  & > .chord {
    position: relative;
    width: 100%;
    display: block;

    &.hidden {
      display: none !important;
    }

    &.disabled {
      opacity: var(--chord-label-disabled-opacity);
      & > .label {
        cursor: default;
      }
    }

    & > .content {
      position: relative;
      height: 0;
      box-sizing: border-box;
      overflow: hidden;
      opacity: 0;
      transition: height var(--animation-duration) ease-in-out, opacity var(--animation-duration) linear;
    }

    &.active {
      margin-bottom: 2 * var(--chord-content-padding);

      & > .content {
        opacity: 1;
        height: auto;
        transition: height var(--animation-duration) ease-in-out, opacity var(--animation-duration) linear;
      }

      & > .label {
        color: var(--chord-pointer-color);
        margin-bottom: var(--chord-content-padding);
      }    
    }

    & > .label {
      display: block;
      width: 100%;
      font-size: var(--chord-text-height);
      font-weight: var(--font-weight-semi-bold);
      padding-top: var(--chord-label-v-padding);
      padding-bottom: var(--chord-label-v-padding);
      margin-bottom: 0;
      color: var(--chord-text-color);
      text-transform: uppercase;
      transition-timing-function: var(--animation-curve-default);
      transition-duration: var(--animation-duration);
      transition-property: box-shadow, color;
      cursor: pointer;

      & > .text {
        position: relative;
        display: inline-block;
        height: var(--chord-icon-height);
        line-height: var(--chord-icon-height);
        vertical-align: top;
        margin-right: var(--chord-content-padding);
      }

      & > .icon,
      & > .postIcon {
        position: relative;
        display: inline-block;
        height: var(--chord-icon-height);
        width: var(--chord-icon-height);
        line-height: var(--chord-icon-height);
      }

      &.withIcon {
      }

      &.withPostButton {
      }

      &.withText {
        & > .icon {
          margin-right: var(--chord-content-padding);
        }
      }
    }
  }
}
