@import "./config";

.filepicker {

  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  &.inline {
    flex-flow: row nowrap !important;
    justify-content: flex-start;
    align-items: center;
  }

  .input {
    flex: 1;
    margin: $button-margin;
    min-width: $input-min-width;

    &.inline {
      > label {
        display: none !important;
      }
    }
  }

  /*ie fix*/
  .iefix {
    input {
      top: 0 !important;
      left: 0 !important;
    }
  }
}
