@import "./config.css";

.filepicker {

  & > * {
    display: inline-block;
    vertical-align: middle;
  }

  &.inline {
    display: inline-block;
    vertical-align: middle;
  }

  & > .input {
    @mixin space-between;
    min-width: var(--input-min-width);

    & span:last-child {
      opacity: 1 !important;
    }
  }

  /*ie fix*/
  & > .iefix {
    & > input {
      top: 0 !important;
      left: 0 !important;
    }
  }
}
