@import "./config.css";

.pager {
    display: inline-block;
    vertical-align: middle;

    .firstLastPagesButton,
    .leftRightArrowButton,
    .leftRightRangeButton,
    .pagesButton {
        min-width: var(--button-height);
        margin: var(--button-margin);
    }

    .active {
        text-decoration: underline;
    }
}